@import 'tailwindcss';

* {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--overlay0)) transparent;
}

html {
  color: #333;
  font-family: 'JetBrains Mono', monospace;
}

@theme {
  --font-sans: 'JetBrains Mono', ui-monospace;
  --font-mono: 'JetBrains Mono', ui-monospace;
}

h2 {
  @apply mt-8 mb-2 text-xl font-semibold md:text-2xl relative;
}
h2:after {
  content: '+';
  @apply absolute -top-4 -left-4 font-thin text-slate-600;
}
