@import 'tailwindcss';

@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/jetbrains-mono/jetbrains-mono-100.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/jetbrains-mono/jetbrains-mono-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/jetbrains-mono/jetbrains-mono-italic.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/jetbrains-mono/jetbrains-mono-500.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/jetbrains-mono/jetbrains-mono-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/jetbrains-mono/jetbrains-mono-700.woff2') format('woff2');
}

@theme {
  --font-sans: 'JetBrains Mono', ui-monospace;
  --font-mono: 'JetBrains Mono', ui-monospace;
}

* {
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  scrollbar-color: #333 transparent;
}

html {
  color: #333;
  font-family: 'JetBrains Mono', monospace;
}

a:focus-visible,
button:focus-visible {
  @apply bg-blue-200 outline-none;
}

h2 {
  @apply mt-8 mb-2 text-xl font-bold md:text-2xl relative;
}
h2:after {
  content: '+';
  @apply absolute -top-4 -left-4 font-thin text-slate-600;
}

a {
  @apply text-blue-500 hover:underline;
}
