@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/jetbrains-mono/jetbrains-mono-100.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/jetbrains-mono/jetbrains-mono-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/jetbrains-mono/jetbrains-mono-italic.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/jetbrains-mono/jetbrains-mono-500.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/jetbrains-mono/jetbrains-mono-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/jetbrains-mono/jetbrains-mono-700.woff2') format('woff2');
}

:root {
  --scrollbar-thumb: #333;
  --foreground: #333;
  --background: #fff;
  --muted: oklch(0.9 0 0);
  --muted-foreground: oklch(0.6 0 0);
}

:root.dark {
  --scrollbar-thumb: #555;
  --foreground: #e5e5e5;
  --background: #0a0a0a;
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.7 0 0);
}

@theme {
  --font-sans: 'JetBrains Mono', ui-monospace;
  --font-mono: 'JetBrains Mono', ui-monospace;
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    scrollbar-color: var(--scrollbar-thumb) transparent;
  }

  html {
    @apply bg-white text-foreground dark:bg-background dark:text-neutral-200;

    font-family: 'JetBrains Mono', monospace;
  }

  a:focus-visible,
  button:focus-visible {
    @apply text-blue-700 bg-blue-200 outline-none dark:text-blue-200 dark:bg-blue-900/80;
  }

  h2 {
    @apply mt-8 mb-2 text-xl font-bold md:text-2xl relative;
  }

  h2:after {
    content: '+';
    @apply absolute -top-4 -left-4 font-thin text-muted-foreground;
  }

  a {
    @apply text-blue-500 hover:underline dark:text-blue-400;
  }

  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
  }
  /* Accessibility: Disable strictly for users who prefer reduced motion */
  @media (prefers-reduced-motion: reduce) {
    ::view-transition-old(root),
    ::view-transition-new(root) {
      animation: auto;
    }
  }
}
