@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/jetbrains-mono/jetbrains-mono-100.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/jetbrains-mono/jetbrains-mono-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/jetbrains-mono/jetbrains-mono-italic.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/jetbrains-mono/jetbrains-mono-500.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/jetbrains-mono/jetbrains-mono-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/jetbrains-mono/jetbrains-mono-700.woff2') format('woff2');
}

@theme {
  --font-sans: 'JetBrains Mono', ui-monospace;
  --font-mono: 'JetBrains Mono', ui-monospace;
}

:root {
  --scrollbar-thumb: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --scrollbar-thumb: #a3a3a3;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  scrollbar-color: var(--scrollbar-thumb) transparent;
}

html {
  @apply bg-white text-[#333] dark:bg-slate-900 dark:text-neutral-200;

  font-family: 'JetBrains Mono', monospace;
}

a:focus-visible,
button:focus-visible {
  @apply text-blue-700 bg-blue-200 outline-none dark:text-blue-200 dark:bg-blue-900/80;
}

h2 {
  @apply mt-8 mb-2 text-xl font-bold md:text-2xl relative;
}

h2:after {
  content: '+';
  @apply absolute -top-4 -left-4 font-thin text-slate-600 dark:text-slate-500;
}

a {
  @apply text-blue-500 hover:underline dark:text-blue-400;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
/* Accessibility: Disable strictly for users who prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: auto;
  }
}
