@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --scrollbar-thumb: #333;
  --foreground: #333;
  --background: #fdfdfd;
  --muted: oklch(0.95 0 0);
  --muted-foreground: oklch(0.6 0 0);
  --grid-color: oklch(0.8 0 0);

  &::selection {
    background: #00000022;
  }
}

:root.dark {
  --scrollbar-thumb: #555;
  --foreground: #e5e5e5;
  --background: #0a0a0a;
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.7 0 0);
  --grid-color: oklch(0.25 0 0);

  &::selection {
    background: #ffffff22;
  }
}

body[data-scroll-locked='true'] {
  overflow: hidden !important;
  overscroll-behavior: contain;
  position: relative !important;
  margin-left: 0;
  margin-top: 0;
}

@theme {
  --font-sans:
    Geist, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --font-mono:
    'JetBrains Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) transparent;
  }

  html {
    @apply bg-background text-foreground dark:text-neutral-200;
    background-image: radial-gradient(var(--grid-color) 1px, transparent 1px);
    background-size: 24px 24px;
  }

  h2 {
    @apply mt-8 mb-2 text-xl font-semibold relative;
  }

  a {
    @apply text-blue-500 hover:underline dark:text-blue-400;
  }

  a:focus-visible,
  button:focus-visible {
    @apply text-blue-700 bg-blue-200 outline-none dark:text-blue-200 dark:bg-blue-900/80;
  }

  strong {
    @apply font-semibold;
  }

  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
  }
  /* Accessibility: Disable strictly for users who prefer reduced motion */
  @media (prefers-reduced-motion: reduce) {
    ::view-transition-old(root),
    ::view-transition-new(root) {
      animation: auto;
    }
  }
}
